<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.theme.cheezyCode.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <!-- <activity
             android:name=".ui.theme.androidwidgets.activity.MCQTestActivity"
             android:exported="false" />-->
        <!--
         <activity
            android:name=".ui.theme.collapsingToolbarlayout.CollepsingToolBarLayout"
            android:exported="false" />
        -->
        <!--
    <activity
                android:name=".ui.theme.androidwidgets.activity.PracticeActivity"
                android:exported="false" />
        -->
        <!--
           <activity
            android:name=".ui.theme.androidMixPractice.GlidePracticeActiivty"
            android:exported="false" />
        -->
        <!--
            <activity
            android:name=".ui.theme.downloadManager.DownloadManagerActivity"
            android:exported="false" />
        -->
        <!--
         <activity
            android:name=".ui.theme.imageSearchCodingInFLow.ui.ImageSearchActivity"
            android:exported="false" /
        -->
        <!--
             <activity
            android:name=".ui.theme.todoCodingInFlow.TodoCodingInFlowActivity"
            android:exported="false" />
        -->
        <!--
          <activity
            android:name=".ui.theme.androidwidgets.activity.ViewPagerWithCirculerTab"
            android:exported="false" />
        -->
        <!--
         <activity
            android:name=".ui.theme.androidwidgets.activity.LayoutProgrameticallyActivity"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".ui.theme.androidwidgets.activity.AndroidViewPager2Activity"
            android:exported="false" />
        -->
        <!--
        <activity
            android:name=".ui.theme.androidwidgets.AndroidWidgetImplementtationActivity"
            android:exported="false" />
        -->
        <!--
                <activity
            android:name=".ui.theme.NotesCheezy.ui.NotesListActivity"
            android:exported="false" />
        -->
        <!--
         <activity
            android:name=".ui.theme.navigationComponent.NvaigationComponentActivity"
            android:exported="false" />
        -->
        <!--
              <activity
            android:name=".ui.theme.manualFragment.FragmentExampleActivity"
            android:exported="false" />
        -->
        <!--
          <activity
            android:name=".ui.theme.room_retrofit_di_crud.ui.CrudOperationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <!-- <activity -->
        <!-- android:name=".ui.theme.codingwithMitchhiltCaching.model.ui.BlogListActivity" -->
        <!-- android:exported="false" /> -->
        <!--
        <activity
            android:name=".ui.theme.hiltPractice.HiltPracticeActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".ui.theme.imageSearchCoding   InFLow.ui.ImageSearchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>